<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 text-center">
      <a class="btn btn-primary" (click)="actualizar()">Actualizar</a>
      <br><br>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-8">
            <h4>Lista de Pendientes</h4> 
            <ul>
              <li *ngFor="let usuario of usuarios">
                <a (click)="ver(usuario)">{{usuario.Nombre}}</a>
              </li>
            </ul>
        </div>
        <div class="col-sm-4" *ngFor="let mostrar of usuariosmostrar">
            <div class="card" style="width: 14rem;" >
              <div class="card float-left">
                <img  class="card-img-top imgClient" [src]="mostrar.foto" alt="...">
                <div class="card-body">
                 <p>{{mostrar.id}}</p>
                 <p>{{mostrar.Facultad}}</p>
                 <h5 class="card-title">{{mostrar.Nombre}}</h5>
                 <a class="btn btn-primary" (click)="activar(mostrar)">Activar</a>
                 <a  class="btn btn-danger" (click)="desactivar(mostrar)">Desactivar</a>
                </div> 
              </div>
            </div>
          </div>
    </div>
</div>