<body ng-app="">
<div class="container mt-5">
    <form [formGroup]="formularioClientes">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" formControlName="Nombre" placeholder="Agregue el Nombre">
                    <div *ngIf="formularioClientes.controls['Nombre'].invalid && formularioClientes.controls['Nombre'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioClientes.controls['Nombre'].errors.required"> Nombre es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control"  formControlName="Apellido" placeholder="Agregue el Apellido">
                    <div *ngIf="formularioClientes.controls['Apellido'].invalid && formularioClientes.controls['Apellido'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioClientes.controls['Apellido'].errors.required"> Apellido es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="email" class="form-control" ng-model="all" formControlName="Email" placeholder="Agregue el Correo">
                    <div *ngIf="formularioClientes.controls['Email'].invalid && formularioClientes.controls['Email'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioClientes.controls['Email'].errors.required"> Correo es requerido</span>
                        <span *ngIf="formularioClientes.controls['Email'].errors.email"> Correo no valido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Facultad</label>
                    <select  class="form-control"  formControlName="Facultad">
                        <option>ADMINISTRACION VIRTUAL</option>
                        <option>APRENDICES</option>
                        <option>BACHILLERATO A DISTANCIA Y VIRTUAL</option>
                        <option>CAMPUS SANTA MARIA</option>
                        <option>CENTRO DE ATENCION A EGRESADOS</option>
                        <option>CENTRO DE CONCILIACION Y ARBITRAJE</option>
                        <option>CENTRO DE ETICA Y HUMANIDADES</option>
                        <option>CENTRO DE INNOVACION Y TALENTO</option>
                        <option>CENTRO DE LENGUAS</option>
                        <option>CENTRO DE PASTORAL UNIVERSITARIA</option>
                        <option>CENTRO DE PENSAMIENTO</option>
                        <option>CONSILIATURA</option>
                        <option>CONSULTORIO JURIDICO</option>
                        <option>CONTADURIA PUBLICA VIRTUAL</option>
                        <option>CURSOS DE EXTENSION (IDIOMAS)</option>
                        <option>DEPARTAMENTO ADMISIONES, MERCADEO Y  COMUNICACIONE</option>
                        <option>DEPARTAMENTO DE BIBLIOTECA</option>
                        <option>DEPARTAMENTO DE BIENESTAR UNIVERSITARIO</option>
                        <option>DEPARTAMENTO DE COMPRAS Y SUMINISTROS</option>
                        <option>DEPARTAMENTO DE CONTABILIDAD</option>
                        <option>DEPARTAMENTO DE PLANTA FISICA</option>
                        <option>DEPARTAMENTO DE SEGURIDAD Y VIGILANCIA</option>
                        <option>DEPARTAMENTO DE TALENTO HUMANO</option>
                        <option>DIRECCION  ADMINISTRATIVA Y FINANCIERA</option>
                        <option>DIRECCION DE DOCENCIA</option>
                        <option>DIRECCION DE INVESTIGACIONES</option>
                        <option>DIRECCION DE PROYECCION SOCIAL</option>
                        <option>DIRECCION DE SISTEMAS DE INFORMACION</option>
                        <option>ECONOMIA VIRTUAL</option>
                        <option>FACULTAD DE ARQUITECTURA</option>
                        <option>FACULTAD DE CIENCIAS DE LA EDUCACION</option>
                        <option>FACULTAD DE CIENCIAS EMPRESARIALES</option>
                        <option>FACULTAD DE DERECHO</option>
                        <option>FACULTAD DE INGENIERIA CIVIL</option>
                        <option>FACULTAD DE POSGRADOS</option>
                        <option>FORMACION CONTINUADA</option>
                        <option>INFRAESTRUCTURA TECNOLOGICA</option>
                        <option>INTERNACIONALIZACION</option>
                        <option>LABORATORIO DE CRIMINALISTICA Y CIENCIAS FORENSES</option>
                        <option>LICENCIATURA EN  HUMANIDADES Y LENGUA  CASTELLANA</option>
                        <option>LICENCIATURA EN  LINGUISTICA Y LITERATURA</option>
                        <option>LICENCIATURA EN CIENCIAS SOCIALES</option>
                        <option>LICENCIATURA EN EDUCACION INFANTIL</option>
                        <option>LICENCIATURA EN FILOSOFIA</option>
                        <option>LICENCIATURA EN FILOSOFIA E HISTORIA</option>
                        <option>LICENCIATURA EN INGLES</option>
                        <option>LICENCIATURA EN LENGUAS MODERNAS CON ENFASIS EN IN</option>
                        <option>LICENCIATURA EN MATEMATICAS</option>
                        <option>LICENCIATURA EN MATEMATICAS Y TECNOLOGIAS DE LA IN</option>
                        <option>LICEO JULIO CESAR GARCIA</option>
                        <option>MAESTRIA EN CONTABILIDAD</option>
                        <option>MAESTRIA EN DERECHO</option>
                        <option>MAESTRIA EN EDUCACION</option>
                        <option>MAESTRIA EN PLANEACION Y GESTION DEL HABITAT TERRI</option>
                        <option>OFICINA DE  RELACIONES INTERNACIONALES</option>
                        <option>OFICINA DE ASEGURAMIENTO DE LA CALIDAD ACADEMICA</option>
                        <option>OFICINA DE PLANEACION</option>
                        <option>OFICINA DE PROYECTOS ESPECIALES</option>
                        <option>OFICINA JURIDICA</option>
                        <option>PENSIONADOS</option>
                        <option>PLATAFORMA DE EDUCACION VIRTUAL</option>
                        <option>PROGRAMA DE ADMINISTRACION DE EMPRESAS</option>
                        <option>PROGRAMA DE ARQUITECTURA</option>
                        <option>PROGRAMA DE CASACION PENAL</option>
                        <option>PROGRAMA DE COMUNICACION SOCIAL Y PERIODISMO</option>
                        <option>PROGRAMA DE CONTADURIA PUBLICA </option>
                        <option>PROGRAMA DE CONTRATACION ESTATAL</option>
                        <option>PROGRAMA DE CONTROL DE GESTION Y REVISORIA FISCAL</option>
                        <option>PROGRAMA DE DERECHO</option>
                        <option>PROGRAMA DE DERECHO ADMINISTRATIVO</option>
                        <option>PROGRAMA DE DERECHO DE FAMILIA</option>
                        <option>PROGRAMA DE DERECHO DEL TRABAJO</option>
                        <option>PROGRAMA DE DERECHO PENAL Y CRIMINOLOGIA</option>
                        <option>PROGRAMA DE DERECHO TRANS.</option>
                        <option>PROGRAMA DE ECONOMIA</option>
                        <option>PROGRAMA DE GERENCIA</option>
                        <option>PROGRAMA DE GERENCIA FINANCIERA</option>
                        <option>PROGRAMA DE GERENCIA TRIBUTARIA</option>
                        <option>PROGRAMA DE GERENCIA Y MERCADEO</option>
                        <option>PROGRAMA DE GOBIERNO Y RELACIONES INTERNACIONALES</option>
                        <option>PROGRAMA DE INGENIERIA CIVIL</option>
                        <option>PROGRAMA DE PEDAGOGIA Y DOCENCIA UNIVERSITARIA</option>
                        <option>PROGRAMA DE PERMANENCIA Y GRADUACION</option>
                        <option>RECTORIA</option>
                        <option>RECURSOS DE APOYO</option>
                        <option>REGISTRO Y CONTROL</option>
                        <option>REVISORIA FISCAL</option>
                        <option>SECCION DE ARCHIVO GENERAL E HISTORICO</option>
                        <option>SECCION DE ASEO</option>
                        <option>SECCION DE CARTERA</option>
                        <option>SECCION DE CORRESPONDENCIA</option>
                        <option>SECCION DE EVENTOS (PROTOCOLO)</option>
                        <option>SECCION DE PRESUPUESTO</option>
                        <option>SECCION DE SERVICIOS GENERALES</option>
                        <option>SECRETARIA GENERAL</option>
                        <option>SEGURIDAD Y SALUD EN EL TRABAJO</option>
                        <option>SERVICIO MEDICO Y PSICOLOGICO</option>
                        <option>SISTEMA INTEGRADO DE GESTION INSTITUCIONAL</option>
                        <option>SOPORTE SISTEMAS INFORMACION</option>
                        <option>SOPORTE TECNICO</option>
                        <option>TECNOLOGIA EN CONSTRUCCIONES ARQUITECTONICAS</option>
                        <option>VICERECTORIA ACADEMICA</option>
                                              
                </select>
                    <div *ngIf="formularioClientes.controls['Facultad'].invalid && formularioClientes.controls['Facultad'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioClientes.controls['Facultad'].errors.required"> Facultad es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" formControlName="Iden" placeholder="Agregue la Cedula">
                    <div *ngIf="formularioClientes.controls['Iden'].invalid && formularioClientes.controls['Iden'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioClientes.controls['Iden'].errors.required"> Cedula es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Rol</label>
                    <select  class="form-control" formControlName="Role" placeholder="Agregue el Rol">
                   <option>Administrativo</option>
                   <!-- <option>DOCENTE</option> -->
                   <option>Estudiante</option>
                   <!-- <option>HONORABLE CONSILIATURA</option>
                   <option>JUBILADO</option>
                   <option>POSTGRADOS</option> -->
                   </select>
                </div> 
            </div>
             <div class="col-sm-12">
                <div class="form-group" *ngIf="!formularioClientes.controls['Email'].invalid && formularioClientes.controls['Email'].dirty">
                    <label for="">Imagen</label>
                    <input type="file" (change)="subirImagen($event)"  class="form-control-file" placeholder="Agregue su Imagen">
      
                    
                </div>
            </div> 
            <div >
                <div>
                    
                    <input type="hidden" formControlName="Carrera"value="">
                </div>
            </div>
            <div class="col-sm-12">
                <progressbar [value]="porcentajeSubida" type="danger" [striped]="true">{{porcentajeSubida}}%</progressbar>
            </div>
            <br><br>
            <button class="btn btn-primary"[disabled]="formularioClientes.invalid" (click)="agregar()">Agregar</button>
        </div>
    </form>
</div>
</body>